body {
  margin: 0;
  padding-top: 50px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.Answers {
  margin-top: 15px;
  padding-bottom: 20px;
}