/* .QuizWrapper {
    width: 500px;
    height: 200px;
    border: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.Question {
    width: 70px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Answers {
    width: 120px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.AnswerButton {
    width: 55px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
} */